<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header>
    <div th:replace="~{fragments/header :: header}"></div>
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->


</header>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container" style="margin:0 3rem 0 3rem;">


    <div class="pagination-controls" style="margin:1rem 0 1rem 0;">
        <a th:href="@{/savings/allocate-savings/{month}(month=${previousMonth})}" class="myButton">Previous Month</a>
        <span th:text="${monthToAllocate}" style="margin:1rem;"></span>
        <a th:href="@{/savings/allocate-savings/ ,.hfdt km 8{month}(month=${nextMonth})}" class="myButton">Next
            Month</a>
    </div>

    <h2>allocate savings</h2>

    <div class="container" style="line-height:2;width:20rem;border:0px solid;">

        <div th:each="goal : ${goals}" class="goal" th:data-goal-id="${goal.id}">
            <div class="form-group">
                <label th:text="${goal.name}"></label>
                <input type="number" min="0" th:attr="max=${goal.maxAmount}, value=${goalAllocatedAmountMap[goal.id]}"
                       class="manual-input form-control" style="width:20rem;" th:id="${goal.name + 'ManualInput'}"
                       th:data-goal-id="${goal.id}">

            </div>
        </div>

    </div>
    <h2>Total:
        <span id="totalAllocated" th:text="${totalAllocated}"></span>
    </h2>

    </script>
    <button class="myButton" onclick="submitAllocations()">Save</button>
</div>

<script th:inline="javascript">
// Add event listeners to the input fields
const inputFields = document.getElementsByClassName('manual-input');
for (let i = 0; i < inputFields.length; i++) {
    inputFields[i].addEventListener('input', updateTotal);
}
// Function to update the total
function updateTotal() {
    let total = 0;

    // Calculate the sum of all input field values
    for (let i = 0; i < inputFields.length; i++) {
        total += parseInt(inputFields[i].value) || 0;
    }

    // Update the total in the HTML
    document.getElementById('totalAllocated').textContent = total;
}

</script>
</div>


</body>
</html>
