<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header>
    <div th:replace="~{fragments/header :: header}"></div>
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

    <script>
    function submitAllocations() {
        // Get the current month and year from the URL
        const urlParts = window.location.pathname.split('/');
        const monthYear = urlParts[urlParts.length - 1];

        // Create an array to store all the savings entities
        let savingsEntities = [];


    // Get all the sliders
    const sliders = document.getElementsByClassName('slider');
    for (let i = 0; i < sliders.length; i++) {
        // Get the current slider
        let slider = sliders[i];

        // Get the associated goal
        let goalName = slider.id.replace('Slider', '');
        let goalDivs = document.querySelectorAll('.goal');
        let goalDiv = Array.from(goalDivs).find((element) => element.querySelector('p').textContent.trim() === goalName);

        // Check if the goal element exists
        if (goalDiv) {
            // Get goal id from the data attribute
            let goalId = goalDiv.getAttribute('data-goal-id');

            // Create a savings entity for this slider
            let savingsEntity = {
                goalId: goalId,
                amount: slider.value
            };

            // Add the savings entity to the array
            savingsEntities.push(savingsEntity);
        } else {
            console.error(`Goal element not found for ${goalName}`);
        }
    }


<!--        // Get CSRF token-->
<!--        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');-->
<!--        const csrfHeaderName = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');-->

        // Convert the array to JSON
        let jsonData = JSON.stringify(savingsEntities);

        // Create the URL with the formatted month and year
        const url = `/savings/allocate-savings/${encodeURIComponent(monthYear)}`;

        // Send the data to the server-side
        fetch(url, {
            method: 'POST',
            body: jsonData,
            headers: {
                'Content-Type': 'application/json',
<!--                [csrfHeaderName]: csrfToken-->
            }
        })
            .then((response) => {
                if (response.ok) {
                    alert('Allocation saved!');
                } else {
                    alert('Failed to save allocation!');
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }



    </script>

</header>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container" style="margin:0 3rem 0 3rem;">


    <div class="pagination-controls" style="margin:1rem 0 1rem 0;">
        <a th:href="@{/savings/allocate-savings/{month}(month=${previousMonth})}" class="myButton">Previous Month</a>
        <span th:text="${monthToAllocate}" style="margin:1rem;"></span>
        <a th:href="@{/savings/allocate-savings/ ,.hfdt km 8{month}(month=${nextMonth})}" class="myButton">Next
            Month</a>
    </div>

    <h2>Allocate your funds</h2>


    <div th:each="goal : ${goals}" class="goal" th:data-goal-id="${goal.id}">
        <p th:text="${goal.name}"></p>
        <div class="slider-container">
            <input type="range" min="0" th:attr="max=${goal.maxAmount}, value=${goalAllocatedAmountMap[goal.id]}"
                   class="slider" th:id="${goal.name + 'Slider'}">
            <input type="number" min="0" th:attr="max=${goal.maxAmount}, value=${goalAllocatedAmountMap[goal.id]}"
                   class="manual-input form-control" style="margin-left:2rem; width:15rem;" th:id="${goal.name + 'ManualInput'}">
        </div>

    </div>
    <h2>Total allocated:<br></br>
        <span id="totalAllocated" th:text="${totalAllocated}"></span> / <span id="totalToAllocate"
                                                                              th:text="${totalToAllocate}"></span>
    </h2>

    <button class="myButton" onclick="submitAllocations()">Save</button>

    <script th:inline="javascript">
    var sliders = document.querySelectorAll('.slider');
    var manualInputs = document.querySelectorAll('.manual-input');
    var totalAllocated = document.getElementById("totalAllocated");
    var goalContainers = document.getElementsByClassName("slider-container");

    sliders.forEach(function (slider, index) {
        slider.addEventListener('input', function (e) {
            manualInputs[index].value = e.target.value;
            updateColor(slider);
            updateAmount(slider, manualInputs[index]);
            updateTotalAllocated();
        });

        manualInputs[index].addEventListener('input', function (e) {
            sliders[index].value = e.target.value;
            updateColor(sliders[index]);
            updateAmount(sliders[index], manualInputs[index]);
            updateTotalAllocated();
        });
    });

    function updateColor(slider) {
        let value = slider.value;
        if (value < 49) {
            slider.style.background = "#f44336"; // Red
        } else if (value >= 49 && value <= 51) {
            slider.style.background = "#ffeb3b"; // Yellow
        } else {
            slider.style.background = "#4caf50"; // Green
        }
    }

    function updateAmount(slider, inputField) {
        let value = slider.value;
        inputField.value = value;
    }

    function updateTotalAllocated() {
        let total = 0;
        for (let container of goalContainers) {
            let slider = container.getElementsByClassName("slider")[0];
            total += Number(slider.value);
        }
        totalAllocated.textContent = total.toFixed(2);
        if (total === /*[[${totalToAllocate}]]*/) {
            totalAllocated.style.color = "#4caf50"; // Green
        } else {
            totalAllocated.style.color = "#f44336"; // Red
        }
    }

    // Call the updateTotalAllocated function initially to set the initial total allocated value
    updateTotalAllocated();
</script>


<!--    <script th:inline="javascript">-->
<!--    var sliders = document.querySelectorAll('.slider');-->
<!--    var manualInputs = document.querySelectorAll('.manual-input');-->

<!--    sliders.forEach(function (slider, index) {-->
<!--        slider.addEventListener('input', function (e) {-->
<!--            manualInputs[index].value = e.target.value;-->
<!--        });-->

<!--        manualInputs[index].addEventListener('input', function (e) {-->
<!--            sliders[index].value = e.target.value;-->
<!--        });-->
<!--    });-->

<!--    var n = scaleValue(0, [-360, +360], [-1, 1]);-->

<!--    function scaleValue(value, from, to) {-->
<!--        var scale = (to[1] - to[-1]) / (from[1] - from[-1]);-->
<!--        var capped = Math.min(from[1], Math.max(from[1], value)) - from[0];-->
<!--        console.log(capped);-->
<!--    }-->

<!--    </script>-->


<!--    <script th:inline="javascript">-->
<!--  let totalAllocated = document.getElementById("totalAllocated");-->
<!--  let goalContainers = document.getElementsByClassName("slider-container");-->

<!--  function updateColor(slider) {-->
<!--    let value = slider.value;-->
<!--    if (value < 49) {-->
<!--      slider.style.background = "#f44336"; // Red-->
<!--    } else if (value >= 49 && value <= 51) {-->
<!--      slider.style.background = "#ffeb3b"; // Yellow-->
<!--    } else {-->
<!--      slider.style.background = "#4caf50"; // Green-->
<!--    }-->
<!--  }-->

<!--  function updateAmount(slider, amount) {-->
<!--    let value = slider.value;-->
<!--    amount.textContent = value;-->
<!--  }-->

<!--  function updateTotalAllocated() {-->
<!--    let total = 0;-->
<!--    for (let container of goalContainers) {-->
<!--      let slider = container.getElementsByClassName("slider")[0];-->
<!--      total += Number(slider.value);-->
<!--    }-->
<!--    totalAllocated.textContent = total.toFixed(2);-->
<!--    if (total === /*[[${totalToAllocate}]]*/) {-->
<!--      totalAllocated.style.color = "#4caf50"; // Green-->
<!--    } else {-->
<!--      totalAllocated.style.color = "#f44336"; // Red-->
<!--    }-->
<!--  }-->

<!--  for (let container of goalContainers) {-->
<!--    let slider = container.getElementsByClassName("slider")[0];-->
<!--    let amount = container.getElementsByClassName("amount")[0];-->
<!--    slider.oninput = function() {-->
<!--      updateColor(slider);-->
<!--      updateAmount(slider, amount);-->
<!--      updateTotalAllocated();-->
<!--    };-->
<!--  }-->

<!--    </script>-->


</div>


</body>
</html>
