<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

<h1>Allocate your funds</h1>

    <h2 th:text${monthToAllocate}></h2>

<div th:each="goal : ${goals}" class="goal">
    <p th:text="${goal.name}"></p>
    <div class="slider-container">
        <input type="range" min="0" th:attr="max=${goal.max}, value=${goal.value}" class="slider" th:id="${goal.name + 'Slider'}">
        <p class="amount" th:id="${goal.name + 'Amount'}" th:text="${goal.value}"></p>
    </div>
</div>

<p>Total allocated: <span id="totalAllocated" th:text="${totalAllocated}"></span> / <span id="totalToAllocate" th:text="${totalToAllocate}"></span></p>

<script th:inline="javascript">
  let totalAllocated = document.getElementById("totalAllocated");
  let goalContainers = document.getElementsByClassName("slider-container");

  function updateColor(slider) {
    let value = slider.value;
    if (value < 49) {
      slider.style.background = "#f44336"; // Red
    } else if (value >= 49 && value <= 51) {
      slider.style.background = "#ffeb3b"; // Yellow
    } else {
      slider.style.background = "#4caf50"; // Green
    }
  }

  function updateAmount(slider, amount) {
    let value = slider.value;
    amount.textContent = value;
  }

  function updateTotalAllocated() {
    let total = 0;
    for (let container of goalContainers) {
      let slider = container.getElementsByClassName("slider")[0];
      total += Number(slider.value);
    }
    totalAllocated.textContent = total.toFixed(2);
    if (total === /*[[${totalToAllocate}]]*/) {
      totalAllocated.style.color = "#4caf50"; // Green
    } else {
      totalAllocated.style.color = "#f44336"; // Red
    }
  }

  for (let container of goalContainers) {
    let slider = container.getElementsByClassName("slider")[0];
    let amount = container.getElementsByClassName("amount")[0];
    slider.oninput = function() {
      updateColor(slider);
      updateAmount(slider, amount);
      updateTotalAllocated();
    };
  }
</script>


</div>


</body>
</html>
