<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<header>
  <div th:replace="~{fragments/header :: header}"></div>
</header>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<body>
<div class="container" style="line-height:2;width:20rem;">
<body>
<body>
<div class="container">
  <h2>Filter Transactions</h2>
  <form action="#" th:action="@{/transactions/filters}" th:object="${filter}" method="post">
    <div class="form-group">
      <label>Search Term</label>
      <input type="text" th:field="*{searchTerm}" class="form-control" placeholder="Search term">
    </div>
    <div class="form-group">
      <label>Min Amount</label>
      <input type="number" step="0.01" th:field="*{minAmount}" class="form-control" placeholder="Min amount">
    </div>
    <div class="form-group">
      <label>Max Amount</label>
      <input type="number" step="0.01" th:field="*{maxAmount}" class="form-control" placeholder="Max amount">
    </div>
    <div class="form-group">
      <label>Start Date</label>
      <input type="date" th:field="*{startDate}" class="form-control">
    </div>
    <div class="form-group">
      <label>End Date</label>
      <input type="date" th:field="*{endDate}" class="form-control">
    </div>
    <div class="form-group">
      <label>Category Id</label>
      <select th:field="*{categoryId}" class="form-control">
        <option value="">No category</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.category}"></option>
      </select>
    </div>
    <button type="submit" class="myButton" style="margin-top:1rem;">Filter</button>
  </form>
</div>
</body>
</html>
