<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="transactions-table">

    <div th:if="${message}">
        <p th:text="${message}" class="success-message"></p>
    </div>
<div class="conatiner">
    <form id="updateCategoryForm" th:action="@{/transactions/updateCategory(searchTerm=${searchTerm})}" method="post" th:withQueryString="true">
        <select name="categoryId">
            <option value="">add category to transaction</option>
            <option th:each="category : ${categories}" th:value="${category.id}"
                    th:text="${category.category}"></option>
        </select>
        <button type="submit">Update</button>
    </form>


    <table>
        <colgroup>
            <col style="width: 10%">
            <col style="width: 20%">
            <col style="width: 5%">
            <col style="width: 5%">
            <col style="width: 42%">
            <col style="width: 5%">
            <col style="width: 3%;
                    align-items: center;
                    justify-content: center;">

        </colgroup>
        <thead>
        <tr class="header">
            <th>Date</th>
            <th>Entity</th>
            <th>Credit/Debit</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Category</th>
            <th>
                add category
                <input type="checkbox" id="selectAll"/>
            </th>
            <th>
                Delete
            </th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td data-title="Date" th:text="${#temporals.format(transaction.date, 'dd MMM yyyy')}"></td>
            <td data-title="Entity" th:text="${transaction.entity}"></td>
            <td data-title="Credit/Debit" th:text="${transaction.creditOrDebit}"></td>
            <td data-title="Amount" th:text="${transaction.amount}"></td>
            <td data-title="Description" th:text="${transaction.description}"></td>
            <td data-title="Category"
                th:text="${transaction.categories.size() > 0 ? transaction.categories[0].category : ''}"></td>
            <td style="text-align: center;">
                <input type="checkbox" name="selectedTransactionsIds" th:value="${transaction.id}"/>
            </td>
            <td>
                <form th:action="@{/transactions/edit/{id}(id=${transaction.id})}" method="get">
                    <button class="myButton" type="submit">Edit</button>
                </form>
            </td>


        </tr>
        </tbody>
    </table>
</div>
    <script>
     // Function to toggle the selection of all checkboxes
    function toggleSelectAll() {
      const checkboxes = document.querySelectorAll('input[name="selectedTransactionsIds"]');
      const selectAllCheckbox = document.getElementById('selectAll');

      checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAllCheckbox.checked;
      });
    }

    // Add event listener to the "Select All" checkbox
    const selectAllCheckbox = document.getElementById('selectAll');
    selectAllCheckbox.addEventListener('change', toggleSelectAll);


// For the form
document.getElementById('updateCategoryForm').addEventListener('submit', function(e) {
    e.preventDefault();
    var checkedBoxes = document.querySelectorAll('input[name="selectedTransactionsIds"]:checked');
    var formData = new FormData();
    checkedBoxes.forEach(function(box) {
        formData.append('selectedTransactionsIds', box.value);
    });
    // Add other form data if necessary
    formData.append('categoryId', this.querySelector('select[name="categoryId"]').value);
    fetch(this.action, {
        method: this.method,
        body: formData
    }).then(function(response) {
        if (!response.ok) {
            console.error('Failed to update category', response);
        } else {
            // Optionally reload the page or do something else on success
            location.reload();
        }
    });
});
</script>

</div>
