<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">


<header><div th:replace="~{fragments/header :: header}"></div></header>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/filterbar :: filterbar}"></div>



<!-- PAGINATION CONTROL FOR ALL EXPENSES -->
    <div>
        <a th:if="${transactions.hasPrevious()} == true" th:href="@{/transactions(page=${transactions.number - 1})}">Previous</a>
        <span th:text="${transactions.number + 1}"></span> / <span th:text="${transactions.totalPages}"></span>
        <a th:if="${transactions.hasNext()} == true" th:href="@{/transactions(page=${transactions.number + 1})}">Next</a>
    </div>





<div th:replace="~{transactions/table :: transactions-table}"></div>
</body>
</html>
