<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">


<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>

</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h2>Overviews</h2>
    <ul class="overviews" >
        <li><a href="charts/year">Yearly overview</a></li>
        <li><a th:href="${chartsMonthLink}">Monthly overview</a></li>
    </ul>

    <h2>Categories Yearly Views</h2>
    <ul class="categories wrapper">
        <li th:each="c : ${categories}">
            <a th:href="@{/charts/categories/{categoryId}(categoryId=${c.id})}" th:text="${c.category}"></a>
        </li>
    </ul>
</div>


</body>
</html>
