


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header>
  <div th:replace="~{fragments/header :: header}"></div>
</header>


<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>



<div class="container">

  <div class="pagination-controls" style="margin:1rem 0 1rem 0;">
    <a th:href="@{/charts/month/{month}(month=${previousMonth})}" class="myButton">Previous Month</a>
    <span th:text="${fulldate}" style="margin:1rem;"></span>
    <a th:href="@{/charts/month/{month}(month=${nextMonth})}" class="myButton">Next Month</a>
  </div>


  <h1 th:text="${fullDate}"></h1>


  <canvas id="chart"  style="padding:2rem;"></canvas>


  <script th:inline="javascript">
    /* Retrieve the data from the server-side */
    var labels = /*[[${labels}]]*/ [];
    var credits = /*[[${credits}]]*/ [];
    var debits = /*[[${debits}]]*/ [];


    /* Create the chart */
    var ctx = document.getElementById('chart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
           datasets: [{
    label: 'Credits',
    data: credits,
    backgroundColor: 'rgba(100, 116, 229, 0.5)', // #6474e5 at 50% opacity
    borderColor: 'rgb(100, 116, 229)', // #6474e5
    borderWidth: 1
}, {
    label: 'Debits',
    data: debits,
    backgroundColor: 'rgba(244, 164, 164, 0.5)', // #f4a4a4 at 50% opacity
    borderColor: 'rgb(244, 164, 164)', // #f4a4a4
    borderWidth: 1
}]

        },
        options: {
            responsive: true,
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
            onClick: null 
        }
    });
</script>
</div>

</body>
</html>

