<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<form th:if="${category}" th:action="@{/categories/add}" method="post" th:object="${category}"
      class="hide-submit form my-sm-2">
  <input type="hidden" th:field="*{id}">
  <div class="row">
    <div class="col">
      <input class="float-start form-control-sm" type="text" th:field="*{category}" placeholder="Category Name"
             id="name">
      <label>
        <button type="submit" class="btn btn-primary">
      ✔
        </button>
      </label>
    </div>
  </div>
</form>

