<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<navbar>
<div class="navbar" style=" background-color: #2F7AE5;
            padding: 10px 15px;
            color: #fff;">

  <h1><div th:replace="~{fragments/coin :: svg}"></div>
    imTrackingExpenses</h1>
  <h4>by marisabel.nl</h4>
  <ul>
    <li><a href="/dashboard"  class="navbar-link">Dashboard</a></li>
    <li><a href="/transactions"  class="navbar-link">Transactions</a></li>
    <li><a href="/savings/goals"  class="navbar-link">Savings</a></li>
    <li><a href="/charts"  class="navbar-link">Charts</a></li>
    <li><a href="/categories"  class="navbar-link">Categories</a></li>
    <li><a href="/about" class="navbar-link">ℹ</a></li>
  </ul>
</div>
</navbar>