<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <div th:replace="~{fragments/header :: header}"></div>


    <style>
    .container {
        display: flex;
    }

    .right {
        flex: 2;
        max-height: 80vh;
        overflow: auto;

    }

    .left {
        flex: 1;
        max-height: 100vh;
        overflow: auto;
    }

    .bottom {
        flex: 1;
        width: 90%;
        background-color: #FFF4BD;
        padding:1rem;
    }

 .savingsChart
 {
    width:80%;
    }

    .categoriesChart
    {
    width:75%;
    }


    </style>
</header>


<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

    <div class="right">
        <div th:replace="~{dashboard/monthly-expenses :: body}"></div>
    </div>

    <div class="left">
        <div class="categoriesChart">
            <div th:replace="~{dashboard/last-month-categories :: body}"></div>
        </div>
    </div>
    <div class="bottom">
        <div th:utext="${noteModel.note}"></div>
        <div style="margin-top:2rem;">
            <a href="/note"  class="myButton" >edit</a> </div>
    </div>


</div>


</body>
</html>
