<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
  <div th:replace="~{fragments/header :: header}"></div>
</header>

  <body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
  <h4>Edit dashboard note:</h4>
<form action="#" th:action="@{/note/save}" th:object="${noteModel}" method="post">
  <textarea id="note" class="form-control"  th:field="*{note}" rows="4" cols="50"></textarea>
  <br><br>
  <input type="submit" class="myButton" value="Submit">
</form>
</div>
</body>

</html>
