<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

    <canvas id="chart" class="chart-canvas" margin="1rem"></canvas>


    <script th:inline="javascript">
/* Retrieve the data from the server-side */
var labels = /*[[${labels}]]*/ [];
var credits = /*[[${credits}]]*/ [];
var debits = /*[[${debits}]]*/ [];

/* Create a map of month numbers to names */
var monthNumberToNameMap = {
    "01": "JANUARY",
    "02": "FEBRUARY",
    "03": "MARCH",
    "04": "APRIL",
    "05": "MAY",
    "06": "JUNE",
    "07": "JULY",
    "08": "AUGUST",
    "09": "SEPTEMBER",
    "10": "OCTOBER",
    "11": "NOVEMBER",
    "12": "DECEMBER"
};

/* Create a new labels array for display */
var displayLabels = labels.map(label => {
    var monthNumber = label.slice(0, 2); // Get the month number
    var year = label.slice(2); // Get the year
    var monthName = monthNumberToNameMap[monthNumber];
    return `${monthName} ${year}`;
});

/* Create the chart */
var ctx = document.getElementById('chart').getContext('2d');
new Chart(ctx, {
    type: 'bar',
    data: {
        labels: displayLabels,
        datasets: [{
            label: 'Credits',
            data: credits,
            backgroundColor: 'rgba(100, 116, 229, 0.5)', // #6474e5 at 50% opacity
            borderColor: 'rgb(100, 116, 229)', // #6474e5
            borderWidth: 1
        }, {
            label: 'Debits',
            data: debits,
            backgroundColor: 'rgba(244, 164, 164, 0.5)', // #f4a4a4 at 50% opacity
            borderColor: 'rgb(244, 164, 164)', // #f4a4a4
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        scales: {
            x: {
                grid: {
                    display: false
                }
            },
            y: {
                beginAtZero: true
            }
        },
        onClick: function(event, array) {
            if (array.length > 0) {
                var label = labels[array[0].index];
                window.location.href = '/chart/' + label;
            }
        }
    }
});
</script>






</div>
</body>
</html>

