<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">


<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="form-container">


    <div style="display: flex; justify-content: space-between;">
        <!-- UPLOAD-->
        <form action="/upload" method="post" enctype="multipart/form-data"
              style="display: flex; align-items: center; gap: 1px;">
            <input id="file" type="file" name="file" class="form-control"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input class="myButton" type="submit" value="upload"/>
        </form>

        <!-- search by keyword -->
        <form th:action="@{/expenses/search}" method="get" style="display: flex; align-items: center; gap: 1px;">
            <input class="form-control" id="searchTerm" type="text" name="searchTerm" placeholder="Search expenses..." required
                   th:value="${searchTerm}"/>
            <button class="myButton" type="submit">Search</button>
        </form>




        <!-- Filter by date -->
        <form th:action="@{/expenses/filter}" method="get" style="display: flex; align-items: center; gap: 1px;">
            <label for="startDate">from:</label>
            <input  class="form-control" id="startDate" type="date" name="startDate" required>
            <label for="endDate">to:</label>
            <input  class="form-control" id="endDate" type="date" name="endDate" required>
            <button class="myButton" type="submit">filter</button>
        </form>
        <form>
        <button class="myButton" onclick="window.location.href='expenses/'">clear filters</button>
    </form>




    <!-- Upload summary -->
    <div th:if="${result != null}">
        <p>Total uploaded: <span th:text="${result.nonDuplicates}"></span></p>
        <p>Duplicates found: <span th:text="${result.duplicates}"></span></p>
        <div th:if="${result.nonDuplicates == 0}">
            <p>No data uploaded.</p>
        </div>
    </div>
    </div>

</div>


<!-- PAGINATION CONTROL -->
<!--<div th:unless="${searchResults}">
    <div>
        <a th:if="${expenses.hasPrevious()} == true" th:href="@{/expenses(page=${expenses.number - 1})}">Previous</a>
        <span th:text="${expenses.number + 1}"></span> / <span th:text="${expenses.totalPages}"></span>
        <a th:if="${expenses.hasNext()} == true" th:href="@{/expenses(page=${expenses.number + 1})}">Next</a>
    </div>
</div>-->


<div th:if="${message}">
    <p th:text="${message}" class="success-message"></p>
</div>


<!--UPDATE CATEGORIES-->
<form th:action="@{/expenses/updateCategory(searchTerm=${searchTerm})}" method="post" th:withQueryString="true">
    <select name="categoryId">
        <option value="">add category to transaction</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.category}"></option>
    </select>
    <button type="submit">Update</button>



<table>
    <colgroup>
        <col style="width: 6%">
        <col style="width: 25%">
        <col style="width: 5%">
        <col style="width: 10%">
        <col style="width: 34%">
        <col style="width: 5%">
        <col style="width: 5%;
                    align-items: center;
                    justify-content: center;">
    </colgroup>

    <thead>
    <tr class="header">
        <th>Date</th>
        <th>Entity</th>
        <th>Credit/Debit</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>
            <input type="checkbox" id="selectAll"/>
        </th>
        <th>
            Delete
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="expense : ${expenses}">
        <td data-title="Date" th:text="${expense.date}"></td>
        <td data-title="Entity" th:text="${expense.entity}"></td>
        <td data-title="Credit/Debit" th:text="${expense.creditOrDebit}"></td>
        <td data-title="Amount" th:text="${expense.amount}"></td>
        <td data-title="Description" th:text="${expense.description}"></td>
        <td data-title="Category"  th:text="${expense.categories.size() > 0 ? expense.categories[0].category : ''}"></td>
        <td style="text-align: center;">
            <input type="checkbox" name="selectedExpenseIds" th:value="${expense.id}"/>
        </td>
        <td>
            <form th:action="@{/expenses/delete}" method="post">
                <input type="hidden" name="id" th:value="${expense.id}">
                <button class="myButton" type="submit" onclick="return confirm('Delete transaction?')">delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
</form>


<script>
    // Function to toggle the selection of all checkboxes
    function toggleSelectAll() {
      const checkboxes = document.querySelectorAll('input[name="selectedExpenseIds"]');
      const selectAllCheckbox = document.getElementById('selectAll');

      checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAllCheckbox.checked;
      });
    }

    // Add event listener to the "Select All" checkbox
    const selectAllCheckbox = document.getElementById('selectAll');
    selectAllCheckbox.addEventListener('change', toggleSelectAll);

</script>

<h2>NOTES:</h2>
<ul>
    <li>Searching string + space will search exact words</li>
    <li>Searching string without space after, will look inside words ("ui" = "thuis")</li>
    <li>upload CVS files from ING (both EN and NL work)</li>
</ul>



</body>

</html>
