<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Expense Tracker</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <style>
    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #212529;
      color: #ffffff;
    }

    h1 {
      margin-top: 40px;
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 40px;
      text-align: center;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }
  </style>
</head>


<body>
<h1>Expense Tracker</h1>

<ul>
  <li><a href="/expenses">View Expenses</a></li>
  <li><a href="/chart">View Charts</a></li>
  <li><a href="/categories">Manage Categories</a></li>
</ul>
</body>
</html>
