<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search Expenses</title>
</head>
<body>
<h1>Search Expenses</h1>

<form action="/search" method="post">
  <input type="text" name="keyword" placeholder="Enter a keyword" />
  <input type="submit" value="Search" />
</form>

<div th:if="${message}">
  <p th:text="${message}" style="color: red;"></p>
</div>


<table th:if="${expenses}">
  <tr>
    <th>Date</th>
    <th>Entity</th>
    <th>Credit/Debit</th>
    <th>Amount</th>
    <th>Description</th>
  </tr>
  <tr th:each="expense : ${expenses}">
    <td th:text="${expense.date}"></td>
    <td th:text="${expense.entity}"></td>
    <td th:text="${expense.creditOrDebit}"></td>
    <td th:text="${expense.amount}"></td>
    <td th:text="${expense.description}"></td>
  </tr>
</table>
</body>
</html>
